.home-container {
    background-color: orange;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr; // Changed to have no gap between navbar and containers

    .Nav-Bar {
        background-color: aqua;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1 / span 2;
    }

    .left-container {
        background-color: black;
        color: white;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        

        .item-container{
            color:white;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:15px;
            img{
                width: 100px;
            }
            h2{
                color: rgb(178, 178, 178);
            }
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                height: 50px;
                width:90%;
                border-radius:25px;
                border: none;
                transition-duration:1s ;
                font-size: 20x;
            }
            botton:hover{
                box-shadow: 2px 2px 6px rgb(179, 42, 42);
            }
        }
    }

    .right-container {
        // height: 100vh;
        // overflow-y: scroll;
        background-color: rgb(255, 255, 255);
        padding: 20px;
        .matarial-icons {
            cursor: pointer;
        }
        .header{
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid black;
            
            .title{
                font-weight: 600;
                font-size: 30px;
                span{
                    font-weight: 40;
                }
            }
            .add-folder{
                display: flex;
                justify-content: center;
                align-items: center;
                border:none;
                cursor: pointer;

            }
        }
        .folder-container{
            .folder-header{
                display: flex;
                justify-content: space-between;
                padding: 20px 0;
                border-bottom: 1px solid black;
                .folder-header-item{
                    display: flex;
                    cursor: pointer;
                    gap:20px;
                    align-items: center;
                    button{
                        background-color: rgb(255, 255, 255);
                        border:none;
                        display:flex;
                        align-items: center;
                    }
                }
            }
        }
        .cards-container{
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            gap:20px;
            justify-content: space-between;

            .card{
                display: flex;
                border-radius:10px;
                box-shadow: 2px 2px 5px gray;
                cursor: pointer;
                width:43%;
                gap:10px;
                transition-duration:0.5s;
                justify-content: space-between;
                align-items: center;
                padding: 12px;
                .title-container{
                    display: flex;
                    flex-direction: column;
                }
                .matarial-icons{
                    cursor: pointer;
                }
                img{
                  width:50px;  
                }
            }
            .card:hover{
                outline: 2px solid white;
            }
        }
    }
}
